.profile-banner{
    display: flex;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid rgb(203, 203, 203);
    background-color: #f6f6f6;
}

.profile-banner .profile-title {
    padding-top: 50px;
    padding-left: 20px;
}

.profile-banner .user-image{
    background-color: white;
    height: 100px;
    width: 100px;
    margin-left: 5%;
    margin-top: 38px;
    border-radius: 50%;
}

.hobbies-container{
    padding-top: 12px;
    margin: 0 auto;
    width: 78%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hobby-box h1{
    font-weight: 400;
    font-size: 28px;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.hobby-box{
    width: 200px;
    height: 72px;  
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ED8585;
    margin-top: 30px;
}

.deleteBtn{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    margin-top: -10px;
    margin-left: 180px;
    cursor: pointer;
}

.box-title{
    font-weight: 600;
    /* text-transform: ; */
    text-align: center;
    margin-top: 25px;
}

.user-image{
    background-image: url("https://lh3.googleusercontent.com/proxy/xotcLzOfZT3uB6j4dNHGceGma3uqvZ6Xv54uIdz9z6WcB_c1lWOyoQvTwcceAWxYfoxi8eiP7RgOLEgPy91ZzZIG9qeR16LAVZuOU1iENxrJJVZJe9FLk8f4tskpHcOs7NrGfOOXHDTFzMOnXbG_frEKoI43sxZ-rqpn");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50% 50%;
}

