.chatbutton {
    text-align: left;
    color: black;
    width: 75px;
    background-color: white;
    padding-left: 5px;
    padding-right: 30px;
    border: 0px;
}

.chatbutton:hover {
    cursor: pointer;
}

.chatbox {
    margin: auto;
    margin-top: 10px;
    width: 130px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blockbutton {
    text-align: left;
    color: white;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(250, 85, 85);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.container {
    border: 2px solid black;
    width: 170px;
    padding-bottom: 5px;
}

.chatTopRow {
    padding-left: 65px;
}

.pushdown {
    height: 20px;
    width: auto;
    margin-left: 45px;
    margin-top: 3px;
}

.pushdown:hover {
    cursor: pointer;
}

.searchBox {
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 5px;
}

.searchInput {
    border: none;
    width: 100px;
    margin-left: 5px;
}

.searchIcon {
    height: 20px;
    width: auto;
    position: relative;
    top: 5px;
}

.searchIcon:hover {
    cursor: pointer;
}