.chatbutton {
    text-align: left;
    color: black;
    width: 75px;
    background-color: white;
    padding-left: 5px;
    padding-right: 30px;
    border: 0px;
}

.chatbutton:hover {
    cursor: pointer;
}

.chatbox {
    margin: auto;
    margin-top: 10px;
    width: 130px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blockbutton {
    text-align: left;
    color: white;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(250, 85, 85);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
}

.container {
    border: 2px solid black;
    width: 170px;
    padding-bottom: 5px;
}

.chatTopRow {
    padding-left: 30%;
}

.chatPushdown {
    height: 20px;
    width: auto;
    margin-left: 20%;
}

.chatPushdown:hover {
    cursor: pointer;
}

.chatSearchBox {
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 5px;
}

.chatSearchInput {
    border: none;
    width: 100px;
    margin-left: 5px;
}

.chatSearchIcon {
    height: 20px;
    width: auto;
    position: relative;
    top: 0px;
}

.chatSearchIcon:hover {
    cursor: pointer;
}