.targetTopRow {
    padding-left: 0px;
}

.chatBack {
    height: 20px;
    width: auto;
    margin-left: 0px;
    position: relative;
    margin-right: 30%;
}

.chatBack:hover {
    cursor: pointer;
}

.fromMessages {
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
    background-color: lightgrey;
    margin-left: 5px;
    margin-top: 5px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
    border-radius: 3px;
}

.toMessages {
    width: fit-content;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
    border-radius: 3px;
}

.nameLabel {
    margin-left: 5px;
}

.chatSendBox {
    margin-top: 7px;
    border-top: 2px solid black;
}

.chatSendInput {
    margin-left: 5px;
    width: 100px;
    border: none;
}

.chatSendButton {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

.sendButton:hover {
    cursor: pointer;
}

.messageContainer {
    min-height: 80px;
}