.hobby-sidebar {
    margin: 10px auto;
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: fit-content;
    text-align: center;
    margin-left: 1rem;
}

.hobby-option-button-unselected {
    border: none;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
}

.hobby-option-button-selected {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
}

.manageHobbyLink {
    /* display: block;
    text-decoration: none;
    
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    background-color: orange; */
    /* color: white; */
    margin-top: 10px;
}

.manageHobbyLink:hover {
    /* color: white; */
}

.manageHobbyContainer {
    width: 200px;
    text-align: center;
}