.postsWrapper {
    width: 60%;
    /* margin: 1rem auto; */
    border: 1px solid black;
}

#wrapperHeader {
    padding: 1rem;
}
.centerText {
    text-align: center;
}
.rightAlign {
    text-align: right;
}
.leftAlign {
    text-align: left;
}
.createPostButton {    
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: fit-content;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
}

.postbox {
    width: auto;
    padding: 1rem;
    margin: .5rem;
    background-color: lightgrey;
}

.backButton {    
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: fit-content;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
}

.postAuthor {
    font-weight: 600;
    margin-right: .5rem;
}

.singleComment {
    border: 1px solid black;
    width: 70%;
    padding: .5rem;
    margin: 0 .5rem .5rem 28.5%;
}
.addCommentBox {
    padding: .5rem;
    margin: .5rem;
}
.commentButton {
    color: white;
    padding: 5px;
    width: fit-content;
    background-color: blue;
    margin: .25rem 0; 
}