.postsWrapper {
    width: 80%;
    /* margin: 1rem auto; */
    margin: auto;
    border: 1px solid black;
}

#wrapperHeader {
    padding: 1rem;
}
.centerText {
    text-align: center;
}
.rightAlign {
    text-align: right;
}
.createPostButton {    
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: fit-content;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
}

.postbox {
    width: auto;
    padding: 1rem;
    margin: .5rem;
    background-color: lightgrey;
}

.backButton {    
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: fit-content;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
}
