body {
    background-color: white;
}
/* Navbar CSS */
nav {
    display: flex;
    height: 60px;    
    background: white;
    border-bottom: 1px solid #f6f6f6;
}

nav a {
    text-decoration: none;
}

.navbar-left {
    flex: 1;     
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Loading Indicator */
.loading-indicator{
    height: 100vh;
}

.loader {
    width: 70px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -70px 0 0 -70px;
}


