.signupWrapper {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.signupLabel {
    width: fit-content;
    margin: auto;
    padding: 10px;
    color: lightseagreen;
    font-size: larger;
}

.signUpBackToLogin {
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: lightskyblue;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    font: medium;
    text-decoration: none;
    width: fit-content;
}

.signUpBackToLogin:hover {
    text-decoration: none;
    color: white;
}
