.unselectedHobby {
    background-color: rgb(180, 76, 228);
    border: 3px solid rgb(180, 76, 228);
    border-radius: 3px;    
    padding: 5px;
    margin: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.unselectedHobby:hover {
    cursor: pointer;
}

.selectedHobby {
    background-color: white;
    border: 3px solid rgb(180, 76, 228);
    border-radius: 3px;    
    padding: 5px;
    margin: 5px;
    color: rgb(180, 76, 228);
    padding-left: 10px;
    padding-right: 10px;
}

.selectedHobby:hover {
    cursor: pointer;
}

.backButton {
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: lightskyblue;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font: mediu;
}

.selectHobbySection {
    text-align: center;
}

.selectHobbyLabel {
    width: fit-content;
    padding: 10px;
    font-size: larger;
    margin: auto;
}