.signupForm {
    width: fit-content;
    margin: auto;
    
}

.nextButton {
    display: block;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: turquoise;
    border: none;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.signuInputWrapper {
    margin-top: 10px;
}